:root {
  --button-bg: rgb(90, 97, 238);
  --btnTextColor: rgb(245, 232, 232);
  --grey-border: #e8e8e8;
}

.form-wrap {
  margin-left: 13%;
}

.add-book-form {
  display: flex;
  column-gap: 1%;
}

.Addbook-btn {
  color: var(--btnTextColor);
  width: 20%;
  width: 8.938rem;
  height: 1.125rem;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
}

.hline {
  border: solid 1px var(--grey-border);
  margin-left: 13.5%;
  margin-right: 6%;
}
.title {
  width: 50%;
}

.author {
  width: 26%;
}
