:root {
  --background: rgb(231, 227, 227);
}

.main {
  background-color: var(--background);
}

.remove {
  margin-left: 7%;
}

.books-list-section {
  margin-left: 7%;
}

.book {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 80%;
}
